body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#309dcf+0,63b6db+100 */
  /*background: #309dcf; /* Old browsers */*/
  /*background: -moz-linear-gradient(top,  #309dcf 0%, #63b6db 100%); /* FF3.6-15 */*/
  /*background: -webkit-linear-gradient(top,  #309dcf 0%,#63b6db 100%); /* Chrome10-25,Safari5.1-6 */*/
  /*background: linear-gradient(to bottom,  #309dcf 0%,#63b6db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#309dcf', endColorstr='#63b6db',GradientType=0 ); /* IE6-9 */*/
  background-color: #dcedce;
}

header {
  margin-bottom: 2em;
}

header h1:after {
  background-color: #ddd;
  content: '';
  display: block;
  height: 3px;
  margin: 0.5em auto 0;
  width: 20%;
}

header h1,
header h4 {
  font-family: 'Cinzel', serif;
  line-height: 1;
  padding: 0.25em 0 .5em;
}


/* Grid widths */
.wrapper {
  margin: 0 auto;
  max-width: 85%;
}
.small,
.medium {
  margin-left: auto;
  margin-right: auto;
}
.small {
  width: 40%;
}
.small > .Avatar--round {
  width: 15%;
}
.medium {
  width: 75%;
}

.Active-players {
  float: left;
  width: 100%;
}
.Active-players > div {
  float: left;
  width: 33.33333%;
}

img {
  width: 100%;
  height: 100%;
}



/* Avatars */
.selection-box {
  float: left;
  padding-bottom: 2em;
  width: 100%;
}
.Avatar,
.Avatar--opponent {
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  height: 200px;
  width: 200px;
}
.Avatar--round {
  border-radius: 50%;
  cursor: pointer;
  float: left;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
}
img.Avatar--round:hover {
  width: 110%;
  height: 110%;
}
.Avatar--round.Avatar__main {
  margin: 0 auto;
  width: 80%;
}


.Chosen-player .Avatar--round {
  float: none;
  margin: 0 auto;
}








/* Instructions */
.Instructions {
  font-weight: bold;
}







/* Helpers */
.text-center {
  text-align: center;
}